###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change-this-secret-key-in-production
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
###< doctrine/doctrine-bundle ###
